@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');


* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: 'Ruda', sans-serif;
  --padding: 37px;
  --fs-s: 28px;
  --fs-m: 30px;
  --fs-xl: 32px;
  --line-height: 37px;
  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 700;

  /* Colors */

  --color-light: rgba(255, 255, 255, 1);
  --color-bg: rgba(245, 218, 129, 1);
  --color-text: rgba(180, 0, 37, 1);
  --color-text2: rgba(242, 30, 51, 1);
  --color-dark: rgba(17, 17, 17, 0.6);
  --color-modalbg: rgba(0, 0, 0, 0.51);

}

body {
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--color-bg);
  font-style: normal;
  font-size: var(--fs-m);
  line-height: var(--line-height);
  padding-left: var(--padding);
  padding-right: var(--padding);
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 390px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}